@model IEnumerable<UserData>


@foreach (var item in Model) {
        <tr>
            <td name="@item.Index">
                        @Html.DisplayFor(model => item.Index)
                    </td>
                    <td name="@item.Id">
                        @Html.DisplayFor(model => item.Id)
                    </td>
                    <td name="@item.Name">
                        @Html.DisplayFor(model => item.Name)
                    </td>
                    <td name="@item.Address">
                        @Html.DisplayFor(model => item.Address)
                    </td>
                    <td name="@item.PhoneNumber">
                        @Html.DisplayFor(model => item.PhoneNumber)
                    </td>
        </tr>
}
